
<h1>卒業研究1</h1>

<<<<<<< HEAD
<%= link_to techniques_path, class: 'btn btn-primary btn-center btn-lg' do %>始める<% end %>

=======
<p>
<%= link_to functions_path, class: 'btn btn-primary btn-center' do %>始める<% end %>

<table>
  
  <tbody>
    <tr>
      <th>あああああ</th>
      <th><%= link_to root_path, class: 'btn btn-default btn-left' do %>あああ<% end %></th>
    </tr>
    <tr>
      <th>あああああ</th>
      <th><%= link_to root_path, class: 'btn btn-default btn-left' do %>あああ<% end %></th>
    </tr>
    <tr>
      <th>あああああ</th>
      <th><%= link_to root_path, class: 'btn btn-default btn-left' do %>あああ<% end %></th>
    </tr>

  </tbody>
</table>

</p>
>>>>>>> origin/master
<br>
